.dashnav:hover{
    background-color: white;
    color: blue;
    padding: 10px;
    border-radius: 15px;
    transition: .5s;
}
@media (max-width:767px) { 
    .singlerow{
        width: 500px !important;
   }
   .haha{
       overflow: scroll;
   }
    
  }
