.owl-carousel .owl-item img {
    display: block;
    width: 50px;
}
.owl-item{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.card{
    border-radius: 15px;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.reviewSec{
    background-image: url("../../../public/review-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}